* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.15;
}
/* header */
header .header__nav {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
header .header__right span {
  position: absolute;
  bottom: 5px;
  right: 30px;
  cursor: pointer;
  font-size: 17px;
  color: #d8d8d8;
}

header .header__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 25%;
}
header .header__left a {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  padding-left: 70px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(6 3 0 / 77%);
  top: 0;
  left: 0;
  display: none;
  animation: sacle 0.2s linear;
}
.open {
  display: block;
  visibility: visible;
}
@keyframes sacle {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
header {
  position: absolute;
}
.overlay nav {
  text-align: center;
  top: 10%;
  height: 60%;
  position: relative;
}
#btn-close {
  position: relative;
  top: 10%;
  right: -90%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: none;
  background-color: #ff6600;
  color: #fffd;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
#btn-open {
  border: none;
  background: none;
  font-size: 32px;
  outline: none;
  color: #fff;
}
.overlay ul {
  list-style: none;
  text-transform: capitalize;
}
.overlay ul li a {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  transition: all 0.5s;
  text-decoration: none;
  line-height: 3;
}
.overlay ul li a:hover {
  color: #ff6600;
}

/* carousel */
header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 15%;
}
.carousel {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../img/banner1.jpg);
  background-position: initial;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;
  width: 100%;
  background-attachment: fixed;
  position: relative;
}
.carousel__content {
  position: absolute;
  top: 40%;
  max-width: 450px;
  text-align: left;
  color: #fff;
}
.carousel__content h1 {
  line-height: 60px;
  font-weight: 600;
  font-size: 55px;
}

.carousel__content p {
  margin: 35px 0;
  font-size: 16px;
  line-height: 28px;
}
.carousel__content button {
  text-transform: capitalize;
  color: #fff;
  border: 2px solid #fff;
  padding: 12px 42px;
  transition: all 0.5s;
}
.carousel__content button span {
  margin-right: 10px;
  font-weight: 700;
}
.carousel__content button:hover {
  background-color: #fff;
  color: #ff6600;
}
/* about us */
.aboutUs__left h1 {
  font-family: "Pacifico", cursive;
  color: #ff6600;
  font-size: 20px;
}
.aboutUs__left p {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
.aboutUs_right p {
  color: #999f9c;
  font-size: 18px;
  line-height: 28px;
}
/* acency */
.agency {
  background-color: #ff6600;
  height: auto;
}

.acgency__left img {
  width: 100%;
  height: 100%;
  position: relative;
}

.acgency__left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(16 15 19 / 46%);
  z-index: 1;
}
.acgency__right {
  padding: 5.6rem 4.62rem;
}
.acgency__right h2 {
  font-family: "Pacifico", cursive;
  color: #fff;
  font-size: 24px;
}
.acgency__right h1 {
  font-family: "Quicksand", sans-serif;
}
.acgency__right p {
  font-size: 18px;
  line-height: 28px;
  color: #ffdfc9;
  font-family: "Quicksand", sans-serif;
}
.agency__item .icon {
  background-color: #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 10px;
}
.icon span.fa {
  font-size: 25px;
  color: #ff6600;
  transition: all 0.5s;
}

.agency__item:hover span.fa {
  color: yellow;
}
.agency__item a {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 15px;
}

/* categorier */
.categories {
  background-color: #f7f7f7;
}
.categorier__item {
  overflow: hidden;
  padding: 15px;
}

.categorier__img {
  position: relative;
  border-radius: 10px;
}
.categorier__img img {
  border-radius: 10px;
}
.categorier__img:hover {
  opacity: 0.9;
  transition: all 0.3s;
}
.categorier__infor {
  position: absolute;
  bottom: 20px;
  left: 50px;
  z-index: 10;
}
.categorier__img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
}

.categorier__infor a {
  text-decoration: none;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
}
.categorier__infor p {
  font-weight: 700;
  color: #ffc600;
  margin-top: 10px;
}
.categories__title {
  padding-top: 30px;
  text-align: center;
}
.categories__title p {
  font-family: "Pacifico", cursive;
  color: #ff6600;
  font-size: 20px;
}
.categories__title h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 38px;
  font-weight: 600;
  color: #000;
}
/* list */
.list__icon {
  border: 1px solid transparent;
  background-color: rgba(130, 115, 252, 0.05);
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.5s;
  font-size: 20px;
  color: #ff6600;
}

.list__front {
  display: grid;
  gap: 20px;
  grid-template-columns: auto 1fr;
}

.list__item:hover .list__icon {
  background-color: #ff6600;
  color: #fff;
}
.box__wrap {
  border: 1px solid #eee;
  padding: 30px 30px;
  border-radius: 5px;
  margin: 10px 0;
}
.list__infor p {
  font-size: 24px;
  font-weight: 600;
}
.list__infor h2 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 100;
}

:root {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: rgba(22, 28, 45, 0.7);
  --bg-color: #fff;
  --heading-color: #232121;
  --border-radius: 6px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #232121;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-light: rgba(130, 115, 252, 0.05);
  --bg-grey: #f7f7f7;
  --footer-bg: #000;
  --card-bg: #fff;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: var(--primary-color);
  --secondary: #f8b195;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* delicious */

.middle {
  background: url("../img/banner2.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 90%;
  width: 100%;
}

.middle:before {
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.welcome_left {
  max-width: 700px;
  margin: 0 auto;
}

.welcome_left h3 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
  max-width: 800px;
}

.btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.btn-style,
.btn-white {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.btn-white:hover {
  background-color: white;
  color: var(--primary-color);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  opacity: 0.8;
}

/* number */

.stats {
  margin-top: -70px;
  z-index: 10;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.counter {
  background-color: var(--bg-color);
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  padding: 40px 20px;
  border-radius: var(--border-radius);
  text-align: center;
  transition: 0.3s ease;
}

.counter span.fa {
  background: var(--primary-color);
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
}

.timer {
  font-size: 2.6em;
  font-weight: 600;
  color: var(--heading-color);
}

p.count-text {
  color: var(--font-color);
  font-weight: 600;
}

.stats p {
  font-size: 1.1em;
}

.counter:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

/* video */

.new-block {
  background: var(--bg-color);
}

.videohny .history-info {
  background: url("../img/banner3.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  min-height: 500px;
  border-radius: var(--border-radius);
}
.position-relative {
  position: relative !important;
}

.videohny .history-info::before {
  content: "";
  background: rgb(16 15 19 / 60%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--border-radius);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  background-color: transparent;
}

.videohny span.video-play-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
  color: var(--primary-color);
  border: transparent;
  background: #fff;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgb(50 100 245 / 0%);
  }
}

/* adjust video with background */
#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}

.mfp-hide {
  display: none !important;
}

/* blog posts */

.blogposts {
  background: var(--bg-grey);
}

.title-subhny {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: "Pacifico", cursive;
}

.title-w3l {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.blogposts .card {
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.blogposts .card-header {
  border: none;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.radius-image {
  border-radius: var(--border-radius);
}
.blogposts .post-pos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.blogposts a.receipe {
  background: var(--primary-color);
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
}
.blogposts .meta-info {
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
}

/* card body */
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.blogposts a.blog-desc {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 25px;
  margin-bottom: 15px;
  transition: 0.3s ease;
}

p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  font-family: "Quicksand", sans-serif;
}

.blogposts .p-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.blogposts .p-meta-info {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}

.blogposts a.post-img-anchor {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.blogposts .p-meta-info img {
  width: 40px;
  height: 40px;

  border-radius: 50%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.blogposts .p-meta-info a {
  font-weight: 700;
  color: var(--heading-color);
  letter-spacing: 0.02em;
}

.blogposts a.read {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  opacity: 0.9;
}

/* testimonials */

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
}

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  position: relative;
  touch-action: pan-y;
  user-select: none;
}

.w3l-agency-test .testimonial-content {
  max-width: 700px;
  margin: auto;
}

.w3l-clients a.comment-img {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.w3l-clients .testimonial img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

blockquote {
  margin: 0 0 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.w3l-clients blockquote q {
  font-size: 24px;
  line-height: 36px;
  color: var(--heading-color);
  font-weight: 600;
}

.w3l-clients blockquote q::before {
  content: '"';
  font-size: 50px;
  color: var(--primary-color);
  display: block;
  font-family: initial;
}

.w3l-clients .testimonial .people-info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.w3l-clients p.indentity {
  font-size: 18px;
  font-style: normal;
  margin-bottom: 0;
  text-align: left;
  opacity: 0.8;
  margin-top: 4px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary-color);
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #d8d8d8;
  display: block;

  transition: opacity 0.2s ease;
  border-radius: 30px;
  position: relative;
}

.owl-dot {
  margin: 30px 10px 0px 10px;
}

/* footer */

.w3l-footer-29-main {
  background: var(--footer-bg);
}

.w3l-footer-29-main a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}

.w3l-footer-29-main p {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.main-social-footer-29 a {
  margin-right: 10px;
  background: var(--bg-color);
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: var(--border-radius);
  font-size: 16px;
  color: var(--primary-color);
  transition: 0.3s;
}

.w3l-footer-29-main h6.footer-title-29 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}

.w3l-footer-29-main .footer-list-29 ul li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-list-29 ul li a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.w3l-footer-29-main input[type="email"] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: var(--font-color);
  background: var(--bg-color);
  border-radius: var(--border-radius);
}

/* copyright */

.w3l-copyright {
  padding: 1.2em 0;
  background: var(--footer-bg);
  border-top: 1px solid rgb(255 255 255 / 5%);
}

.w3l-copyright p.copy-footer-29 {
  align-self: center;
  color: #ddd;
  font-size: 17px;
}

.w3l-copyright .copy-footer-29 a {
  color: var(--primary-color);
}

li {
  list-style: none;
}

/* move to top */
.backToTop {
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  padding: 0;
  line-height: 50px;
  text-align: center;
  border-radius: 35px;
  border: none;
  outline: none;
  /* display: none; */
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-out;
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.owl-dot {
  border: none;
}

/* .owl-next, .owl-prev */
.owl-carousel .owl-nav.disabled {
  display: none;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.w3l-footer-29-main .footer-list-29 ul li a:hover,
.w3l-copyright .footer-list-29 ul li a:hover,
.w3l-footer-29-main a:hover {
  color: var(--primary-color);
}
/* responsive */

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  header {
    left: 6%;
  }
  .container {
    max-width: 720px;
  }
  .carousel__content h1 {
    font-size: 44px;
  }
  .stats {
    margin-top: 0;
  }
  .btn-style,
  .btn-white {
    padding: 10px 21px;
  }
  .backToTop {
    margin-right: 30px;
  }
  header .header__nav {
    padding-right: 50px;
  }
  header .header__left a {
    padding: 0;
  }
  .carousel {
    min-height: 650px;
  }
}
/* Mobile */

@media (max-width: 740px) {
  .carousel {
    min-height: 450px;
    margin-top: 60px;
  }
  header {
    left: 6%;
  }
  .carousel__content h1 {
    font-size: 20px;
    line-height: 30px;
  }
  .container {
    max-width: 350px;
  }
  .stats {
    margin-top: 0;
  }
  .btn-style,
  .btn-white {
    padding: 10px 21px;
  }
  .backToTop {
    margin-right: 30px;
  }
  .header__right input {
    display: none;
  }
  .header__right span i {
    display: none;
  }
  .header__left {
    margin-right: 50px;
  }
  header .header__left a {
    padding: 10px 0;
  }
}

/* ===================== Dark - Light Theme ==================*/

/* Light theme */
#myBody {
  background-color: #fff;
  color: #000;
}
#switchButton {
  font-size: 24px;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
  color: #fff;
}

/* Dark Theme*/
.dark#myBody {
  background-color: #232220;
  color: #fff;
}
.dark .form-control {
  background: #232220;
}
.dark .categories {
  background-color: #282828;
  color: #fff;
}
.dark .categories h1 {
  color: #fff;
}
.dark .counter {
  background-color: #232220;
  color: #fff;
}
.dark .stats p,
.dark .timer {
  color: #c2d0da;
}
.dark .new-block {
  background-color: #232220;
}
.dark .blogposts {
  background-color: #282828;
  color: #fff;
}
.dark .blogposts a.read,
.dark .blogposts .p-meta-info a {
  color: #fff;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}
.dark #switchButton .fa-moon {
  display: none;
}
.dark .blogposts a.blog-desc,
.dark .w3l-clients blockquote q {
  color: #fff;
}
